    <!-- Project Section -->
    <section id="sponsors" class="container content-section">
        <div class="row">
            <div class="col-lg-12">
                <h2>/ Sponsors</h2>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center" style="width: 100%; display: flex; flex-wrap: wrap; align-items: center;">
                    <p>Coming Soon!</p>
                  <!-- {% for institution in site.data.sponsors %}
                  <div style="flex: 1; padding: 2em 1em 2em 1em !important;">
                    <a href="{{ institution.url }}">
                      <img height="200" src="{{ institution.logo | relative_url }}" alt="{{ institution.name }}">
                    </a>
                  </div>
                  {% endfor %} -->
                </div>
              </div>
        </div>
    </section>