<!-- People list, variant with small photos and social media links -->
{% comment %}
Expects following parameters: people-data
{% endcomment %}
<div class="row">
    <div class="col-xs-12 d-flex" style="width: 100%; display: flex; flex-wrap: wrap; align-items: baseline;">
        {% for person in include.people-data %}
        <div class="person" style="text-align: center; width: 165px; margin: 20px 10px;">
            
            <h5 class="person-name">{{ person.name }}</h5>
            <p class="person-title"><span>{{ person.title }}</span></p>
        </div>
        {% endfor %}
    </div>
</div>